{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "plugins": ["prettier-plugin-solidity"],
        "singleQuote": false,
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": true,
        "compiler": "0.8.24"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
